
body {
	font-family: sans-serif;
	color: #393c41;
	margin: 0;
  }
  
  h1, p {
	margin-left: 10px;
	width: 650px;
  }
  .text-gradient {
    font: bold; /* Параметры шрифта */
    background: linear-gradient(#42c422, #05a30d); /* Градиент */
    -webkit-background-clip: text; /* Фон  отображается только внутри текста */
    background-clip: text; /* Для современных  браузеров */
    -webkit-text-fill-color: transparent; /*  Прозрачный цвет */
  }